<section class="player--container">
    <div class="player--container__title">
        <span>Mi Equipo</span>
    </div>
    <div class="player--container__input">
        <input type="text" [(ngModel)]="inputSearch" class="jg__input" placeholder="Buscar por nombre">
        <!-- <input #input type="text" (keyup)="searchKey(input.value)" class="jg__input" placeholder="Buscar por nombre"> -->
    </div>
    <div class="player--container__button">
        <app-custom-button (btnClick)="create()" [width]="'9rem'" [height]="'3rem'">
            <p>Agregar</p>
        </app-custom-button>
    </div>
    <main class="player--container__main">
        <div *ngIf=" players | async as playersSub; else elseBlock" class="player--container__body">
            <app-card *ngFor=" let player of playersSub | search: inputSearch" [player]="player"
                (clickEdit)="edit($event)" (clickDelete)="delete($event)">
            </app-card>
        </div>
        <ng-template #elseBlock>
            <div class="player--container__notFount"><span>Loading....</span></div>
        </ng-template>
    </main>
</section>

<app-modal [title]="title">

    <app-form></app-form>

</app-modal>