<form class="card__form" [formGroup]="playerForm" (ngSubmit)="save()" novalidate>
    <div class="grid__container">
        <div class="image">
            <img *ngIf="getControl('image').value" [src]="getControl('image').value" alt="">
            <img *ngIf="!getControl('image').value" src="../../../assets/not.png" alt="">
        </div>
        <div>
            <div class="description">
                <div>
                    <label class="form__label" for="Nombre">Nombre</label>
                    <!-- <app-custom-input formControlName="firstName"></app-custom-input> -->
                    <input formControlName="firstName" type="text" class="form__input"
                        [ngClass]="{'error': esInvalido(getControl('firstName')), 'valid' : esValido(getControl('firstName')) }">
                    <span *ngIf="esRequerido(getControl('firstName'))" class="error__message">nombre no valido</span>
                </div>

                <div>
                    <label class="form__label" for="Apellido">Apellido</label>
                    <input formControlName="lastName" type="text" class="form__input error"
                        [ngClass]="{'error': esInvalido(getControl('lastName')), 'valid' : esValido(getControl('lastName')) }">
                    <span *ngIf="esInvalido(getControl('lastName'))" class="error__message">apellido no valido</span>
                </div>
                <div>
                    <label class="form__label" for="Imagen">Imagen</label>
                    <input formControlName="image" type="text" class="form__input"
                        [ngClass]="{'error': esInvalido(getControl('image')), 'valid' : esValido(getControl('image')) }">
                    <span *ngIf="esInvalido(getControl('image'))" class="error__message">imagen no valida</span>
                </div>
                <div>
                    <label for="posicion" class="form__label">Posicion</label>
                    <select class="form__input" name="" id="" formControlName="idPosition">
                        <option value="">Seleccione la posicion</option>
                        <option *ngFor="let position of positions$ | async" [value]="position.id">

                            {{position.description}}</option>

                    </select>
                    <!-- <span class="error__message">la posicion es requerida</span> -->
                </div>

            </div>


            <div>
                <app-slider formControlName="attack" [label]="'Ataque'"></app-slider>
                <!-- <span class="error__message">el ataque es requerido</span> -->
            </div>

            <div>
                <app-slider formControlName="defense" [label]="'Defensa'"></app-slider>
                <!-- <span class="error__message">la defensa es requerida</span> -->

            </div>

            <div>
                <app-slider formControlName="skills" [label]="'Skills'"></app-slider>
                <!-- <span class="error__message">la skill es requerida</span> -->
            </div>




            <div class="button__container">
                <app-custom-button [disabled]="playerForm.invalid" [width]="'9rem'" [height]="'3rem'" [text]="'Crear'">
                </app-custom-button>
            </div>


        </div>


    </div>
</form>