<form class="card__form" [formGroup]="playerForm" (ngSubmit)="save()" novalidate>
    <div class="grid__container">
        <div class="image">
            <img *ngIf="getControl('image').value" [src]="getControl('image').value" alt="">
            <img *ngIf="!getControl('image').value" src="../../../assets/not.png" alt="">
        </div>
        <div>
            <div class="description">
                <app-custom-input [isValid]="esValido(getControl('firstName'))"
                    [isInvalid]="esInvalido(getControl('firstName'))" label="Nombre" formControlName="firstName">
                </app-custom-input>
                <app-custom-input [isValid]="esValido(getControl('lastName'))"
                    [isInvalid]="esInvalido(getControl('lastName'))" label="Apellido" formControlName="lastName">
                </app-custom-input>
                <app-custom-input [isValid]="esValido(getControl('image'))"
                    [isInvalid]="esInvalido(getControl('image'))" label="Imagen" formControlName="image">
                </app-custom-input>
                <app-custom-select formControlName="idPosition" [positions]="positions$ | async"
                    optionDefault="Seleccione la posicion" label="Posicion"></app-custom-select>
            </div>
            <app-slider formControlName="attack" [label]="'Ataque'"></app-slider>
            <app-slider formControlName="defense" [label]="'Defensa'"></app-slider>
            <app-slider formControlName="skills" [label]="'Skills'"></app-slider>
            <div class="button__container">
                <app-custom-button [disabled]="playerForm.invalid" [width]="'9rem'" [height]="'3rem'">
                    <p>Guardar</p>
                </app-custom-button>
            </div>
        </div>
    </div>
</form>